* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-size: 1.6rem;
    background-color: #FFCD4C;
  }

  .logo-wrapper {
    text-align: center;
   
}

.logo {
    
    display: inline-block;
      width: 750px; 
      height: 100px; 
      border-radius: 15px ;
}

h1{
  text-align: center;
  text-transform: uppercase;
  color: #0C4085;
}

.matelas-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.m {
  display: flex;
  border: 1px solid #000000;
  padding: 20px;
}

.m img {
  max-width: 200px;
  height: auto;
  margin-right: 20px; 
}

.m h2 {
  font-size: 24px;
  margin-bottom: 5px;
  text-transform: uppercase;
  color:#0C4085 ;
}

.m p {
  font-size: 20px;
  padding-left: 75px;
  color: #0C4085;
  
}


.form-container {
  max-width: 400px;
  margin: 0 auto;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-group {
  flex: 1;
  margin-bottom: 10px;
  text-align: center; /* Centrer le contenu dans chaque groupe */
}

.form-group label {
  display: block; /* Permet de placer chaque label sur une ligne séparée */
  margin-bottom: 5px;
}

.form-group input {
  width: 50%; /* Pour que les champs de saisie occupent toute la largeur disponible */
  padding: 5px; /* Espace interne du champ de saisie */
}



.form-container {
  display: flex;
  justify-content: center; /* Centre horizontalement le contenu du formulaire */
  align-items: center; /* Centre verticalement le contenu du formulaire */
  height: 100vh; /* Remplit toute la hauteur de la page */
}



